[Unit]
Description=web-suspend
Documentation=https://github.com/hellojukay/web-suspend
After=network-online.target 
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/web-suspend
[Install]
WantedBy=multi-user.target
