[Unit]
Description=web-suspend
Documentation=https://github.com/hellojukay/web-suspend
After=network-online.target 
Wants=network-online.target

[Service]
ExecStart=/usr/bin/web-suspend
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

